/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 16px;
    position: relative;
    color: #1f1f1f;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    font-family: 'Inter', sans-serif;
    background: white;
}

.container {
    margin: auto;
    padding: 0 30px;
    max-width: 1040px;
    position: relative;
}

.dashboard-content-wrapper {
    padding-top: 46px;
    padding-bottom: 24px;
    margin-top: 70px;
    min-height: calc(100vh - 70px);
}

.breadcrumbs-section {
    gap: 12px;
    position: relative;

    &,
    .breadcrumbs-button {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .breadcrumbs-button {
        gap: 4px;
        line-height: 24px;
        color: #1f1f1f;
        cursor: pointer;
        text-decoration: none;
    }

    app-arrow-back {
        &,
        svg {
            width: 24px;
            height: 24px;
        }

        display: flex;
        align-items: center;
        justify-content: center;

        color: #a4b0be;
        transform: rotate(180deg);
    }
}
